<html>
<head>
    <title>Small World</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<ul>
    <li><a href="feed.html"><img src = "./images/logo.png" height = "80px"></img></a></li>
    <li><a href="news.asp"><h1>Small World</h1></a></li>
    </right>
</ul>
<div class="vertical-menu" width = "20%">
    <a href="feed.html" target = "my_frame">Home</a>
    <a href="preferences.html" target = "my_frame">Preferences</a>
    <a href="profile.html" target = "my_frame">Profile</a>
    <a href="profile.html" target = "my_frame">Dashboard</a>
    <a href="saved.html" target = "my_frame">Saved</a>
    <a href="login.html" target = "my_frame">Log out</a>
</div>
<iframe src = "login.html" name = "my_frame" width = "89%" height = "100%"> <p>Cannot display iframe </p> </iframe>
</body>
</html>